<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Create Room</title>
<link rel="stylesheet" href="/dist/css/main.css">
<script type="text/javascript" src="/dist/js/jquery.js"></script>
<script language="javascript" type="text/javascript">
        function createRoom(){
            let userid = $("#userid").val();
            if (!userid){
                alert("用户id未传！");
                return;
            }
            let users = userid.split(",");
            $.ajax({
                type: "POST",
                url: '/webrtcCreateRoom',
                contentType: "application/json",
                data:JSON.stringify({
                    "users": users
                }),
                success: function (result) {
                    if (result.code == 200) {
                        $("#room").val(result.result.room);
                        $("#token").val(result.result.token);
                    }else {
                        alert(result.msg == null ? result.message:result.msg);
                    }
                }
            });
        }
    </script>

<style>
body {
	font-family: "微软雅黑";
}

tr {
	height: 30px;
}

.editable {
	border: 1px solid #dedada;
}

input {
	width: 380px;
	height: 20px;;
}
</style>
</head>
<body>
	<table align="center">
		<tr>
			<td>人员编码</td>
			<td><input type="text" id="userid"></td>
		</tr>
		<tr>
			<td style="color: gray">房间号码</td>
			<td><input class="editable" type="text" id="room" readonly></td>
		</tr>
		<tr>
			<td style="color: gray">房间验证码</td>
			<td><input class="editable" type="text" id="token" readonly></td>
		</tr>

		<tr>
			<td colspan="2" style="height: 50px; text-align: center; margin-top: 30px;">
				<input type="button" onclick="createRoom()" value="创建房间" style="height: 30px; width: 470px;">
			</td>
		</tr>

	</table>
</body>
</html>
