<!DOCTYPE html>
<html lang="en">
<head>
<title>Join Room</title>
<link rel="stylesheet" href="/dist/css/main.css">
<script type="text/javascript" src="/dist/js/jquery.js"></script>
<script language="javascript" type="text/javascript">
        function createRoomUser(){
            var video = $("#video")[0].checked;
            var audio = $("#audio")[0].checked;
            var userid = $("#userid").val();
            var roomid = $("#roomid").val();
            var token = $("#token").val();
            if (!userid){
                alert("用户id未传！");
                return;
            }
            $.ajax({
                type: "POST",
                url: '/webrtcCreateUserCode',
                contentType: "application/json",
                data:JSON.stringify({
                    "video": video,
                    "audio": audio,
                    "room": roomid,
                    "token": token,
                    "user": userid
                }),
                success: function (result) {
                    if (result.code == 200) {
                        $("#par").val(result.result);
                    }else {
                        alert(result.msg == null ? result.message:result.msg);
                    }
                }
            });
        }
    </script>
    
<style type="text/css">
body {
	font-family: "微软雅黑";
}

tr {
	height: 30px;
}

.editable {
	border: 1px solid #dedada;
}

input {
	width: 380px;
	height: 20px;;
}

.ckbox{
	width: 25px;
    height: auto;
}

.btn{
	width: 230px;
    height: 25px;
}

</style>

</head>
<body>
	<form action="/webrtcJoinRoom" method="post">
		<table align="center">
		<!-- 	<tr>
				<td>: <input type="text" name="userid" id="userid"><br>
					房间号: <input type="text" name="roomid" id="roomid"><br>
					验证码: <input type="text" name="token" id="token"><br>
					音频: <input type="checkbox" name="video" id="video" checked>
					视频: <input type="checkbox" name="audio" id="audio" checked><br>
					加入房间参数: <input type="text" name="par" id="par" readonly value=""><br>
					<input type="button" onclick="createRoomUser()" value="生成房间参数"><br>
					<input type="submit" value="加入房间">
				</td>
			</tr> -->
			
			<tr>
				<td>用户编码</td>
				<td><input type="text" name="userid" id="userid"></td>
			</tr>
			
			<tr>
				<td>房间号码</td>
				<td><input type="text" name="roomid" id="roomid"></td>
			</tr>
			
			<tr>
				<td>房间验证码</td>
				<td><input  type="text" name="token" id="token"></td>
			</tr>
			
			<tr>
				<td>媒体类型</td>
				<td>
					音频: <input class="ckbox" type="checkbox" name="video" id="video" checked>
					视频: <input class="ckbox" type="checkbox" name="audio" id="audio" checked>
				</td>
			</tr>
			
			<tr>
				<td  style="color:gray;">房间参数</td>
				<td>
					<input class="editable" type="text" name="par" id="par" readonly value="">
				</td>
			</tr>
			
			<tr style="height: 60px;text-align: center;">
				<td colspan="2">
					<input class="btn" type="button" onclick="createRoomUser()" value="生成房间参数">
					<input class="btn" type="submit" value="加入房间">
				</td>
			</tr>
			
			
		</table>
	</form>
</body>
</html>
